.coupon-qr-wrapper .react-datepicker-wrapper .react-datepicker__input-container input {
    padding: 15px;
    min-height: 48px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    background-color: #f0f0f0;
    border-radius: 7px;
    width: 100%;
  }

  .react-datepicker-wrapper{
   width: 100%;
  }